.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-4.css-gj1fbr-MuiGrid-root{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.field-selector{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}