.logo-icon{
    font-size:50px;
}

.emergency-tab{
    background-color: rgb(255, 83, 83);
}

.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.css-1q39md6-MuiButtonBase-root-MuiButton-root{
    font-size: large;
}
.css-1su9lvs-MuiPaper-root-MuiAppBar-root{
    background-color: #a7d4b4 !important;

}
.image{
    width:110px;
}

.image2{
    width:220px;
}

.red-highlight{
    background-color: rgb(250, 49, 49);
    border-radius: 60px;
}
.navbar{
    position: fixed;
    z-index: 10;
    background-color: aqua;

}